.container{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: blue;
    padding: 10px;
    border-radius: 20px;
    box-shadow: inset 10px 10px 100px white;
    display: grid;
    grid-template-columns: 70px 70px 70px 70px;
}

input{
    grid-column: span 4;
    height: 70px;
    width: 270px;
    border: none;
    border-radius: 10px;
    box-shadow: inset -5px -5px 12px #ffffff,
                inset  5px 5px 12px rgba(0,0,0,.16);
    font-size: 50px;
    text-align: end;
    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-top: 20px;
}

button{
    border: none;
    margin: 5px;
    box-shadow: 10px 10px 24px white;
    color: white;
    background-color: rgb(122, 119, 119);
    height: 50px;
    padding:5px;
    font-size: 20px;
}

button:nth-last-child(1){
    width: 130px;
}